<!DOCTYPE html>
<html lang="en">
<head>
<title>HOMUNI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
main{
    float: right;
    width: 75%;
  }
aside{
    float:left;
    padding-top: 20px;
    margin-left: 20px;
    width:25%;
    position: fixed;
  }
 .container{
      max-width: auto;
      margin:auto;
      margin-top: 20px;
 }
</style>

</head>

<body>
    <div class="container">
        <main>
          {{ content }}
        </main>
        <aside>
          <img src="/cat.JPG" alt="my picture" width=80% height=80%>
          <h1>Huihui Hu</h1>
        </aside>
      </div>
</body>

</html>